@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<BusinessObjects.Models.Product>

<h1>Index</h1>
<p>
    <a asp-action="Create"> Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>

                <td>
                    <form action="@Url.Action("Edit", new { id = item.ProductId })" style="display:inline">
                        <button type="submit" class="btn-link">Edit</button>
                    </form>
                </td>
                <td>
                    <form action="@Url.Action("Detail", new { id = item.ProductId })" style="display:inline">
                        <button type="submit" class="btn-link">View Detail</button>
                    </form>
                </td>
                <td>
                    <form method="post" action="@Url.Action("Delete", new { id = item.ProductId })" style="display:inline">
                        <button type="submit" class="btn-link" style="border: none" onclick="return confirmDelete()">Delete</button>
                    </form>
                    <script>
                        function confirmDelete() {
                            return confirm("Are you sure you want to delete this item?");
                        }
                    </script>
                </td>
            </tr>
        }
    </tbody>
</table>